---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";

const colors = {
	// Three shades of red of increasing strength for calculus 1, 2 and 3
	cdi1: "#ff0000",
	cdi2: "#cc0000",
	cdi3: "#990000",

	al: "blue",
	qg: "green",
	etc: "yellow",
};
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Notas de <span class="text-gradient">MEEC @IST</span></h1>
		<p class="disclaimer">
			<strong>Disclaimer</strong>: Este site é um projeto pessoal, não
			afiliado com a administração do Instituto Superior Técnico. Não há
			qualquer garantia de que a informação aqui presente esteja correta
			ou atualizada.
			<br />Se encontraste algum erro, por favor reporta-o.
		</p>
		<ul role="list" class="link-card-grid">
			<Card href="/cdi1" title="CDI-1" color={colors.cdi1} />
			<Card href="/cdi2" title="CDI-2" color={colors.cdi2} />
			<Card href="/cdi3" title="CDI-3" color={colors.cdi3} />
			<Card href="/al" title="AL" color={colors.al} />
		</ul>
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.disclaimer {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;

		strong {
			color: rgb(var(--accent-light));
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
